.body::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  // display: none;
}

.body {
  /* Hide scrollbar for IE, Edge and Firefox */
  // -ms-overflow-style: none;  /* IE and Edge */
  // scrollbar-width: none;  /* Firefox */
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;

  .home {
    padding-top: 2vw;

    .home-info {
      padding: 10vw 4vw 0 4vw;
      color: var(--home-text-color);

      .title {
        font-size: 3em;
      }

      .sub-title {
        font-size: 1.75em;
        margin-top: -1vw;
      }

      .paragraph {
        padding: 30px 0 0 0;
        font-size: 1.25em;
        white-space: pre-wrap;
        color: var(--home-paragraph-color)
      }
    }

    .home-portrait {
      padding: 5vw 25px 25px 25px;

      .portrait{
        width: 100%;
        border-radius: var(--border-radius);
      }
    }
  }

  .about {
    padding: 0 4vw;
    
    .title {
      color: var(--about-title-color);
      font-size: 1.5em;
      padding: 1.5em 0 .5em 0;
    }

    .info {
      padding: 5px 0;
      
      #title {
        color: var(--about-content-title-color);
      }

      #info {
        color: var(--about-content-info-color);
      }

      #sub-info {
        color: var(--about-content-info-color);
      }
    }

    .information-area {
      // border: 1px solid var(--current-color-mode-2);
      // border-radius: var(--border-radius);
      // padding: var(--about-information-padding);
    }
  }

  .project {
    padding: 0 4vw;
    
    .info {
      color: var(--project-content-text-color);

      .summary {
        cursor: pointer;
        padding: 5px;

        .summary-title{
          display: flex;
          justify-content: center;
        }

        .summary-thumbnail{
          width: 100%;
        }
      }

      .summary:hover{
        transform: scale(1.05);
        transition: transform .25s ease-out;
        will-change: transform;
        background: var(--project-content-title-background);
        border-radius: 5px;
      }
    }
  }

  .contact {
    padding: 0 4vw;
    
    .title {
      color: var(--contact-title-color);
      font-size: 1.5em;
      padding: 1.5em 0 .5em 0;
    }

    .map {
      padding-bottom: 30px;
      overflow: hidden;

      iframe{
        border-radius: var(--border-radius);
      }
    }

    .info {
      padding: 8vh 0 0 0;
      display: flex;

      .content-block {
        width: 100%;
        height: 10em;
        margin: 10px;
        text-align: center;
        border-radius: var(--border-radius);

        .image {
          margin-top: -55px;

          .fa {
            padding: 20px;
            font-size: 4em;
            width: 100%;
          }
          
        }

        .content {
          //text-decoration: none;

          .message {
            font-size: 1.5em;
          }

          .button {
            padding: 5px;

            .button-message {
              font-size: 1.25em;
              background: white;
              color: black;
              border: none;
            }
          }
        }
      }

      .github {
        background: var(--github-color);
        color: white;
      }

      .linkedin {
        background: var(--linkedin-color);
        color: white;
      }

      .whatsapp {
        background: var(--whatsapp-color);
        color: white;
      }

      .email {
        background: var(--email-color);
        color: white;
      }
    }

    @media only screen and (max-width: 700px) {
      .info {
        display: grid;

        .content-block {
          margin: 0 0 50px 0;
        }
      }
    }
    
  }

}