.header {
  height: 7vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  background: var(--header-background);
  transition: all .3s ease-in-out;
  z-index: 1;
  
  .header-row {
    height: inherit;
    width: inherit;

    .header-tab {
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .color-mode-logo{
        width: 100px;
        height: inherit;
        position: absolute;
        left: 0;
        z-index: -1;

        .dark-mode{
          width: inherit;
          height: inherit;
          
          .moon{
            display:inline-block;
            border-radius:50%;
            height: 40px;
            width: 40px;
            margin: 5px -20px;
            background: yellow;
            box-shadow: 0 0 6px yellow,
                          0 0 10px yellow,
                          0 0 10px white,
                          inset 0 0 25px white;
          }

          .moon-cover{
            border-radius:50%;
            height: 45px;
            width: 45px;
            margin: -11px 11px;
            background: var(--header-background);
            mix-blend-mode: inherit;
            transition: .3s;
          }

          .cloud {
            display: inline-flex;
            background:white;
            width:30px;
            height:20px; 
            border-radius:50%;
            position:relative;
            top:-10px;
            -webkit-filter: blur(4px);
            left:-10px;
            animation: 15000ms cloudAnimation linear infinite;
            opacity:0.76;
          }
          .cloud:before {
            content:"";
            display:inline-flex;
            background:white;
            width:40px;
            height:10px; 
            -webkit-filter: blur(5px);
            position:relative;
            border-radius:50%;
            top:-5px;
            left:15px;
          }
          .cloud:after {
            content:"";
            display:inline-flex;
            background:white;
            width:70px;
            height:15px; 
            -webkit-filter: blur(3px);
            position:relative;
            border-radius:50%;
            top:4px;
            left:10px;
          }
          
          @keyframes cloudAnimation {
            0%{
              transform: translate(-50px,0);
              opacity: 1;
            }
            100% {
              transform: translate(100px, 0px);
              opacity: 0;
            }
          }
        }

        .light-mode{
          width: inherit;
          height: inherit;

          .sun{
            display:inline-block;
            border-radius:50%;
            height: 40px;
            width: 40px;
            margin: 5px 10px;
            background:orange;
            box-shadow: 0 0 10px orange,
                          0 0 60px orange,
                          0 0 200px yellow,
                          inset 0 0 80px yellow;
          }
        }
      }

      .color-mode-btn{
        color: var(--header-tab-default-color);
        font-size: 1.5em;
        position: absolute;
        right: 0;
        padding-right: 10px;
        cursor: pointer;
      }
      
      .header-tab-selection {
        cursor: pointer;
        transition: all .2s ease-in-out;
        height: inherit;
        width: 6em;
        font-size: 1.5em;
        color: var(--header-tab-default-color);
        text-decoration: underline solid transparent;
        transition: text-decoration 1s ease;
      }

      .header-tab-selection:hover {
        font-size: 1.5em;
        color: var(--header-tab-hover);
        text-decoration: underline;
      }

      .header-tab-current-selected {
        font-size: 1.5em;
        color: var(--header-tab-selected);
        font-weight: bold;
        animation: glow 2s ease-in-out infinite alternate;
        text-decoration: underline;
      }

      @keyframes glow {
        from {
          text-shadow: 0 0 2px var(--current-color-mode-2), 0 0 5px var(--current-color-mode-2), 0 0 7px var(--header-tab-glow), 0 0 10px var(--header-tab-glow), 0 0 12px var(--header-tab-glow), 0 0 15px var(--header-tab-glow), 0 0 22px var(--header-tab-glow);
        }
        
        to {
          text-shadow: 0 0 5px var(--current-color-mode-2), 0 0 7px var(--header-tab-glow), 0 0 10px var(--header-tab-glow), 0 0 12px;
        }
      }
      
      @media only screen and (max-width: 700px) {
        .header-tab-selection {
          font-size: 1.25em;
        }
      }
    }
  }
}