:root{
  // dark mode color progression
  // color from dark to light
  --dark-mode-1:                      #141922;
  --dark-mode-2:                      #19202B;
  --dark-mode-3:                      #977B62;
  --dark-mode-4:                      #FFCB9A;
  --dark-mode-5:                      #ECF5F3;

  // light mode color progression
  // color from light to dark
  --light-mode-1:                     #B6D0DE;
  --light-mode-2:                     #F9F9F9;
  --light-mode-3:                     #5C96B5;
  --light-mode-4:                     #3B6F8A;
  --light-mode-5:                     #242C2E;

  --github-color:                     #c9510c;
  --linkedin-color:                   #0072B1;
  --whatsapp-color:                   #128c7e;
  --email-color:                      #f4c20d;

  // main control for color theme
  // default color mode in dark mode
  --current-color-mode-1:             var(--dark-mode-1);
  --current-color-mode-2:             var(--dark-mode-2);
  --current-color-mode-3:             var(--dark-mode-3);
  --current-color-mode-4:             var(--dark-mode-4);
  --current-color-mode-5:             var(--dark-mode-5);

  // scrollbar color control
  --scrollbar-thumb-color:            var(--current-color-mode-3);
  --scrollbar-hover-color:            var(--current-color-mode-4);
  --scrollbar-track-color:            var(--current-color-mode-1);

  // header
  --header-background:                  transparent;
  --header-tab-default-color:         var(--current-color-mode-3);
  --header-tab-hover:                 var(--current-color-mode-4);
  --header-tab-selected:              var(--current-color-mode-4);
  --header-tab-glow:                  var(--current-color-mode-2);

  // home
  --home-text-color:                  var(--current-color-mode-4);
  --home-sub-title-color:             var(--current-color-mode-5);

  // about
  --about-title-color:                var(--current-color-mode-4);
  --about-content-title-color:        var(--current-color-mode-3);
  --about-content-info-color:         var(--current-color-mode-5);
  --about-information-padding:        1vw;

  // project
  --project-content-text-color:       var(--current-color-mode-5);
  --project-content-title-background: var(--current-color-mode-1);
  --project-information-padding:      1vw;

  // contact
  --contact-title-color:              var(--current-color-mode-4);
  --contact-icon-color:               var(--current-color-mode-5);
  --contact-border-color:             var(--current-color-mode-1);

  // modal
  --modal-header-background:          var(--current-color-mode-1);
  --modal-body-background:            var(--current-color-mode-2);
  --modal-title-text-color:           var(--current-color-mode-5);
  --modal-content-text-color:         var(--current-color-mode-4);

  // general
  --border-radius:                    15px;
}




::-webkit-scrollbar { width: .4em; height: .4em; }
::-webkit-scrollbar-track { background: var(--scrollbar-track-color); }
::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color); }
::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-hover-color); }
@supports (scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color)) {
  * {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    scrollbar-width: thin;
  }
}

.portfolio {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: system-ui;
  background: var(--current-color-mode-2);
  // font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  // font-family: monospace;       // terminal text
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all .3s ease-in-out;
}

.center-text-in-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fade-in-section{
  opacity: 0;
  transform: translateY(2vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform .5s ease-out;
  will-change: opacity, visibility;
}

.in-window-view{
  opacity: 1;
  transform: none;
  visibility: visible;
}

.modal{
  // font-family: monospace;       // terminal text
  .modal-content{
    border-radius: var(--border-radius);
  }

  .modal-header{
    background: var(--modal-header-background);
    color: var(--modal-title-text-color);
    border: none;
  }

  .modal-body{
    background: var(--modal-body-background);
    border: none;

    .modal-summary{
      height: inherit;
      position: relative;
      color: var(--modal-content-text-color);
    }

    .modal-button{
      width: 100%;
      background: var(--modal-content-text-color);
      color: var(--modal-body-background);
      border: 5px double var(--modal-body-background);
      margin-top: 10px;
      // bottom: 0;
      // left: 0;
      // position: absolute;
    }

    .modal-title{
      color: var(--modal-content-text-color);
    }

    .chanllenge-n-solution{
      padding: 10px 0;
      color: var(--modal-title-text-color);
    }

    .road-map{
      padding: 10px 0;
      color: var(--modal-title-text-color);
    }
  }
  
  .modal-snapshot{
    width: 100%;
  }
}