:root{
  // dark mode color progression
  // color from dark to light
  --dark-mode-1:                      #FFFAEA;
  --dark-mode-2:                      #86857E;
  --dark-mode-3:                      #ADABA4;
  --dark-mode-4:                      #565552;
  --dark-mode-5:                      #333331;
  --dark-mode-background:             #19202B;
  --dark-mode-glow:                   #FFFFFF;
  --dark-mode-accent:                 #191919;

  // light mode color progression
  // color from light to dark
  --light-mode-1:                     #ADABA4;
  --light-mode-2:                     #86857E;
  --light-mode-3:                     #FFFAEA;
  --light-mode-4:                     #86857E;
  --light-mode-5:                     #FFFAEA;
  --light-mode-background:            #FFFFFF;
  --light-mode-glow:                  #000000;
  --light-mode-accent:                #191919;

  --github-color:                     #c9510c;
  --linkedin-color:                   #0072B1;
  --whatsapp-color:                   #128c7e;
  --email-color:                      #f4c20d;

  // main control for color theme
  // default color mode in dark mode
  --current-color-mode-1:             var(--dark-mode-1);
  --current-color-mode-2:             var(--dark-mode-2);
  --current-color-mode-3:             var(--dark-mode-3);
  --current-color-mode-4:             var(--dark-mode-4);
  --current-color-mode-5:             var(--dark-mode-5);
  --current-color-mode-background:    var(--dark-mode-background);
  --current-color-mode-glow:          var(--dark-mode-glow);
  --current-color-mode-accent:        var(--dark-mode-accent);

  // scrollbar color control
  --scrollbar-thumb-color:            var(--current-color-mode-3);
  --scrollbar-hover-color:            var(--current-color-mode-2);
  --scrollbar-track-color:            var(--current-color-mode-5);

  // header
  --header-background:                  transparent;
  --header-tab-default-color:         var(--current-color-mode-2);
  --header-tab-hover:                 var(--current-color-mode-1);
  --header-tab-selected:              var(--current-color-mode-1);
  --header-tab-glow:                  var(--current-color-mode-glow);

  // home
  --home-text-color:                  var(--current-color-mode-1);
  --home-paragraph-color:             var(--current-color-mode-2);

  // about
  --about-title-color:                var(--current-color-mode-1);
  --about-content-title-color:        var(--current-color-mode-2);
  --about-content-info-color:         var(--current-color-mode-3);
  --about-information-padding:        1vw;

  // project
  --project-content-text-color:       var(--current-color-mode-1);
  --project-content-background:       var(--current-color-mode-4);
  --project-content-title-background: var(--current-color-mode-5);
  --project-information-padding:      1vw;

  // contact
  --contact-title-color:              var(--current-color-mode-1);
  --contact-content-title-color:      var(--current-color-mode-2);
  --contact-content-info-color:       var(--current-color-mode-3);

  // modal
  --modal-header-background:          var(--current-color-mode-accent);
  --modal-body-background:            var(--current-color-mode-background);
  --modal-text-color:                 var(--current-color-mode-1);

  // general
  --border-radius:                    25px;
}




::-webkit-scrollbar { width: .4em; height: .4em; }
::-webkit-scrollbar-track { background: var(--scrollbar-track-color); }
::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color); }
::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-hover-color); }
@supports (scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color)) {
  * {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    scrollbar-width: thin;
  }
}

.portfolio {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: system-ui;
  background: var(--current-color-mode-background);
}

.center-text-in-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fade-in-section{
  opacity: 0;
  transform: translateY(2vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform .5s ease-out;
  will-change: opacity, visibility;
}

.in-window-view{
  opacity: 1;
  transform: none;
  visibility: visible;
}

.modal{
  .modal-content{
    border-radius: var(--border-radius);
  }

  .modal-header{
    background: var(--modal-header-background);
    color: var(--modal-text-color);
    border: none;
  }

  .modal-body{
    background: var(--modal-body-background);
    color: var(--modal-text-color);
    border: none;

    .modal-summary{
      height: inherit;
      position: relative;
    }

    .modal-button{
      width: 100%;
      background: var(--modal-text-color);
      color: var(--modal-body-background);
      border: 5px double var(--modal-body-background);
      margin-top: 10px;
      // bottom: 0;
      // left: 0;
      // position: absolute;
    }

    .chanllenge_n_solution{
      padding: 10px 0;
    }
  }
  
  .modal-snapshot{
    width: 100%;
  }
}